@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="content content-left ">
        <h1>Parcel Delivery Tracking</h1>
        <h5>Effortless Parcel Tracking and Delivery Services</h5>
        <p>Discover a smarter way to manage your parcels. Our platform simplifies parcel tracking, delivery scheduling, and more. Experience the future of parcel delivery.</p>
        <div>
            <button type="button" id="signInBeginBtn" href="AuthServices/UserManager/Login"><span></span>Sign In & Begin</button>
        </div>
    </div>

    <div class="content content-right">
        <div class="card card1"></div>
        <div class="card card2"></div>
        <div class="card card3"></div>
        <div class="card card4"></div>
    </div>
</div>